In [1]:
from requests import get

In [2]:
response = get('https://seattle.craigslist.org/search/see/apa?availabilityMode=0&hasPic=1')

In [3]:
if response.status_code == 200:
    print('Success!')
else:
    print('Failure')

Success!

In [4]:
response.encoding='utf-8'
response.text

In [7]:
response.headers

{'Last-Modified': 'Sat, 20 Aug 2022 23:33:24 GMT', 'Cache-Control': 'max-age=900, public', 'Date': 'Sat, 20 Aug 2022 23:33:24 GMT', 'Transfer-Encoding': 'chunked', 'Content-Encoding': 'gzip', 'Vary': 'Accept-Encoding', 'Content-Type': 'text/html; charset=utf-8', 'X-Frame-Options': 'SAMEORIGIN', 'Content-Security-Policy': "base-uri 'self'; child-src https://*.craigslist.org; connect-src https://*.craigslist.org; font-src data:; form-action https://*.craigslist.org; frame-ancestors 'self'; frame-src https://*.craigslist.org; media-src data:; object-src 'none'; script-src 'unsafe-inline' 'unsafe-eval' https://*.craigslist.org; style-src 'unsafe-inline' https://*.craigslist.org", 'Set-Cookie': 'cl_b=4|a5411d7ef24af736e3bc1c09ede99132dce0187a|1661038404I166Y;path=/;domain=.craigslist.org;secure;expires=Fri, 01-Jan-2038 00:00:00 GMT', 'Expires': 'Sat, 20 Aug 2022 23:48:24 GMT', 'Strict-Transport-Security': 'max-age=63072000'}

In [6]:
from bs4 import BeautifulSoup

In [7]:
html_soup = BeautifulSoup(response.text, 'html.parser')

In [8]:
posts = html_soup.find_all('li',{'class':'result-row'})
#posts = html_soup.find_all('li',class_='result-row')
print(type(posts))
print(len(posts)) 
#print the length to check if all posts on first page are scraped

<class 'bs4.element.ResultSet'>
120

#### Looking at the information in first post to ensure the information before building a loo[

In [9]:
posts[0]

<li class="result-row" data-pid="7524287567">
<a class="result-image gallery" data-ids="3:00p0p_5UkEai9ITmRz_0CI0t2,3:00909_66XbMRM2Ao9z_0i30bw,3:00i0i_ltUs0vhIRYAz_0q60hr,3:00202_7gWbRSBAQJSz_0CI0pX,3:00z0z_e280X5P9y4Xz_0mr0t2,3:00W0W_5sIC9pl21gpz_0t20CI,3:00d0d_bSYXGbpxVEvz_0jN0d6,3:00T0T_alL3ivzbUoqz_0CI0pQ,3:00x0x_lxyhaCckRBxz_0CI0t2,3:00O0O_92jvYcHnFPLz_0CI0pO,3:00909_f8lb6gT1RJiz_0mU0fq,3:00e0e_5HnRsiqyiI6z_29J1By,3:00D0D_55aymhqD68z_0CI0pT,3:00202_eRCaW00tT72z_0CI0pW,3:00N0N_bqcBcdwIE86z_0CI0pQ,3:00k0k_b4DIefi8Ecnz_0og0gc,3:00W0W_7xtzbJymu1gz_0CI0pQ,3:00w0w_7CiNa5zeF2dz_0CI0sb,3:00r0r_7UrsHhN1qdAz_29y1C8,3:00d0d_h6yMRrmfaD9z_1Bp28x,3:00p0p_b7tiHV8uRAwz_0CI0t2,3:00i0i_jOCOaQkDAQtz_0gw0b2,3:00H0H_hzkQoyLqz4Lz_0gw0b2" href="https://seattle.craigslist.org/see/apa/d/seattle-elevated-modern-luxury-discover/7524287567.html">
<span class="result-price">$4,393</span>
</a>
<div class="result-info">
<span class="icon icon-star" role="button">
<span class="screen-reader-text">favorite this post</span>
</span>
<time class="result-date" datetime="2022-08-21 14:58" title="Sun 21 Aug 02:58:47 PM">Aug 21</time>
<h3 class="result-heading">
<a class="result-title hdrlnk" data-id="7524287567" href="https://seattle.craigslist.org/see/apa/d/seattle-elevated-modern-luxury-discover/7524287567.html" id="postid_7524287567">Elevated modern luxury. Discover the view from the top!</a>
</h3>
<span class="result-meta">
<span class="result-price">$4,393</span>
<span class="housing">
                    2br -
                    1141ft<sup>2</sup> -
                </span>
<span class="result-hood"> (2116 4th Ave Seattle, WA)</span>
<span class="result-tags">
<span class="pictag">pic</span>
</span>
<span class="banish icon icon-trash" role="button">
<span class="screen-reader-text">hide this posting</span>
</span>
<span aria-hidden="true" class="unbanish icon icon-trash red" role="button"></span>
<a class="restore-link" href="#">
<span class="restore-narrow-text">restore</span>
<span class="restore-wide-text">restore this posting</span>
</a>
</span>
</div>
</li>

Get the price from first post

In [29]:
# method 1
post_one_price = posts[0].a.text
post_one_price.strip()

#strip remove white space before and after a string

In [30]:
# method 2
posts[0].find('span', class_ = 'result-price').text.strip()

Get the date and time from first post

In [12]:
# method 1 - use .
posts[0].time['datetime']

'2022-08-21 14:58'

In [13]:
# method 2 - use .find()
post_one_time = posts[0].find('time',class_='result-date')['datetime']

In [14]:
post_one_time

'2022-08-21 14:58'

Find the title and link of first post

In [15]:
post_one_title = posts[0].find('a', class_='result-title hdrlnk')
post_one_title

<a class="result-title hdrlnk" data-id="7524287567" href="https://seattle.craigslist.org/see/apa/d/seattle-elevated-modern-luxury-discover/7524287567.html" id="postid_7524287567">Elevated modern luxury. Discover the view from the top!</a>

In [16]:
post_one_title.text

'Elevated modern luxury. Discover the view from the top!'

In [17]:
post_one_link = post_one_title['href']
print(post_one_link)

https://seattle.craigslist.org/see/apa/d/seattle-elevated-modern-luxury-discover/7524287567.html

In [18]:
print(posts[0].a.get('href'))

https://seattle.craigslist.org/see/apa/d/seattle-elevated-modern-luxury-discover/7524287567.html

In [19]:
posts[0].a

<a class="result-image gallery" data-ids="3:00p0p_5UkEai9ITmRz_0CI0t2,3:00909_66XbMRM2Ao9z_0i30bw,3:00i0i_ltUs0vhIRYAz_0q60hr,3:00202_7gWbRSBAQJSz_0CI0pX,3:00z0z_e280X5P9y4Xz_0mr0t2,3:00W0W_5sIC9pl21gpz_0t20CI,3:00d0d_bSYXGbpxVEvz_0jN0d6,3:00T0T_alL3ivzbUoqz_0CI0pQ,3:00x0x_lxyhaCckRBxz_0CI0t2,3:00O0O_92jvYcHnFPLz_0CI0pO,3:00909_f8lb6gT1RJiz_0mU0fq,3:00e0e_5HnRsiqyiI6z_29J1By,3:00D0D_55aymhqD68z_0CI0pT,3:00202_eRCaW00tT72z_0CI0pW,3:00N0N_bqcBcdwIE86z_0CI0pQ,3:00k0k_b4DIefi8Ecnz_0og0gc,3:00W0W_7xtzbJymu1gz_0CI0pQ,3:00w0w_7CiNa5zeF2dz_0CI0sb,3:00r0r_7UrsHhN1qdAz_29y1C8,3:00d0d_h6yMRrmfaD9z_1Bp28x,3:00p0p_b7tiHV8uRAwz_0CI0t2,3:00i0i_jOCOaQkDAQtz_0gw0b2,3:00H0H_hzkQoyLqz4Lz_0gw0b2" href="https://seattle.craigslist.org/see/apa/d/seattle-elevated-modern-luxury-discover/7524287567.html">
<span class="result-price">$4,393</span>
</a>

In [20]:
posts[0].find('span', class_='housing').text.split()

['2br', '-', '1141ft2', '-']

Find the number of bedroom of this property

In [21]:
post_two_br = posts[0].find('span', class_='housing').text.split()[0][:-2]
post_two_br

'2'

Find the square feet of this property

In [22]:
post_two_sqft = posts[0].find('span', class_='housing').text.split()[2][:-3]
post_two_sqft

'1141'

Find the neighborhood of this post

In [23]:
post_two_hood = posts[0].find('span', class_='result-hood').text
post_two_hood.strip()

'(2116 4th Ave Seattle, WA)'

#### Building the loop for all pages to find all information we need

In [24]:
import numpy as np
from random import randint
from time import sleep
from warnings import warn

Find out how many posts are there

In [27]:
#html_soup.find('div',class_='search-legend')

In [26]:
result_total = int(html_soup.find('span',class_='totalcount').text)
result_total

3000

Find out how many pages are there

In [28]:
pages = np.arange(0,result_total,120)
pages

array([   0,  120,  240,  360,  480,  600,  720,  840,  960, 1080, 1200,
       1320, 1440, 1560, 1680, 1800, 1920, 2040, 2160, 2280, 2400, 2520,
       2640, 2760, 2880])

What information we'd like to know from the web

In [44]:
post_timing = []
post_hoods = []
post_prices = []
post_title_texts = []
post_links = []
sqfts = []
bedroom_counts = []

In [45]:
iteration = 0
for page in pages:
    
    # Get request
    response = get('https://seattle.craigslist.org/search/see/apa?'
                           +'s='+str(page)
                           +'&availabilityMode=0&hasPic=1')
    sleep(randint(1,5))
    
    # Throw warning for status codes that are not 200
    if response.status_code != 200:
          warn('Request: {}; status code: {}'.format(requests,response.status_code))
    
    # Define html text
    page_html = BeautifulSoup(response.text, 'html.parser')
          
    # Define the posts
    page_post = page_html.find_all('li',class_='result-row')
          
    # Extrace data item-wise
    for post in page_post:
        if post.find('span',class_='result-hood') is not None:
            
            # Post time
            post_time = post.find('time', class_='result-date')['datetime']
            post_timing.append(post_time)
                              
            # Post hood
            post_hood = post.find('span', class_='result-hood').text
            post_hoods.append(post_hood.strip())
            
            # Post title
            post_title = post.find('a', class_='result-title hdrlnk')
            post_title_text = post_title.text
            post_title_texts.append(post_title_text)
            
            # Post price
            post_price = post.a.text.replace('$','').strip()
            post_prices.append(post_price)
            
            # Post link
            post_link = post.a.get('href')
            post_links.append(post_link)
            
            if post.find('span', class_='housing') is not None:
                
                if 'ft2' in post.find('span', class_='housing').text.split()[0]:
                    
                    # Post bedroom
                    bedroom = np.nan
                    bedroom_counts.append(bedroom)
                
                    # Post sqft
                    sqft = int(post.find('span', class_='housing').text.split()[0][:-3])
                    sqfts.append(sqft)
                
                elif len(post.find('span', class_='housing').text.split()) > 2:
                    
                    # Post bedroom
                    bedroom = post.find('span', class_='housing').text.split()[0][:-2]
                    bedroom_counts.append(bedroom)
                    
                    # Post sqft
                    sqft = int(post.find('span', class_='housing').text.split()[2][:-3])
                    sqfts.append(sqft)
                
                elif len(post.find('span', class_='housing').text.split()) == 2:
                    
                    # Post bedroom
                    bedroom = post.find('span', class_='housing').text.split()[0][:-2]
                    bedroom_counts.append(bedroom)
                    
                    # Post sqft
                    sqft = np.nan
                    sqfts.append(sqft)
                else:
                    
                    # Post bedroom
                    bedroom = np.nan
                    bedroom_counts.append(bedroom)

                    # Post sqft
                    sqft = np.nan
                    sqfts.append(sqft)
            else:
                    
                # Post bedroom
                bedroom = np.nan
                bedroom_counts.append(bedroom)
                    
                # Post sqft
                sqft = np.nan
                sqfts.append(sqft)
                

    iteration += 1
    print('Page ' + str(iteration) + ' scraped successfully!!')  
print('Complete')

Page 1 scraped successfully!!
Page 2 scraped successfully!!
Page 3 scraped successfully!!
Page 4 scraped successfully!!
Page 5 scraped successfully!!
Page 6 scraped successfully!!
Page 7 scraped successfully!!
Page 8 scraped successfully!!
Page 9 scraped successfully!!
Page 10 scraped successfully!!
Page 11 scraped successfully!!
Page 12 scraped successfully!!
Page 13 scraped successfully!!
Page 14 scraped successfully!!
Page 15 scraped successfully!!
Page 16 scraped successfully!!
Page 17 scraped successfully!!
Page 18 scraped successfully!!
Page 19 scraped successfully!!
Page 20 scraped successfully!!
Page 21 scraped successfully!!
Page 22 scraped successfully!!
Page 23 scraped successfully!!
Page 24 scraped successfully!!
Page 25 scraped successfully!!
Complete

#### Create a DataFrame to include all data

In [46]:
import pandas as pd

First we need to check if the length is the same for all lists

In [47]:
print(len(post_timing),len(post_hoods),len(post_prices),len(post_title_texts),len(post_links),len(bedroom_counts),len(sqfts))

3000 3000 3000 3000 3000 3000 3000

Load lists into a Dataframe

In [48]:
craigRent = pd.DataFrame({'Post_Date':post_timing, 
            'Neighborhood':post_hoods,
            'Price':post_prices,
            'Title':post_title_texts,
            'Url':post_links,
            'Bedroom':bedroom_counts,
            'sqft':sqfts
            })

In [49]:
craigRent.head(10)

,Post_Date,Neighborhood,Price,Title,Url,Bedroom,sqft
0,2022-08-20 16:40,"(Bothell, WA)","3,460",Large Patio with Amazing Views! 2x2 in the Hea...,https://seattle.craigslist.org/see/apa/d/bothe...,2,1088.0
1,2022-08-20 16:39,(seattle),"2,404","Microwave, Tile Floors, Bike Repair Station - ...",https://seattle.craigslist.org/see/apa/d/seatt...,1,669.0
2,2022-08-20 16:39,"(Greenwood, Green Lake, Phinney Ridge, Rooseve...","2,078",Ready for December - One Bedroom Available - A...,https://seattle.craigslist.org/see/apa/d/seatt...,1,613.0
3,2022-08-20 16:38,"(4138 Brooklyn Ave. NE Seattle, WA)","1,465","1 MONTH FREE - Sick Studio, Blocks from UW - 9...",https://seattle.craigslist.org/see/apa/d/seatt...,NaN,257.0
4,2022-08-20 16:38,"(Roosevelt, Seattle)","2,300",One Bedroom Home Near EVERYTHNG You Need!,https://seattle.craigslist.org/see/apa/d/seatt...,1,528.0
5,2022-08-20 16:38,"(520 Occidental Ave S, Seattle, WA)","3,487","Fitness Center and Yoga Rooms, Stainless-Steel...",https://seattle.craigslist.org/see/apa/d/seatt...,2,1035.0
6,2022-08-20 16:37,(West Seattle),"1,995",Breathtaking Views! Home Sweet Home! Brand New...,https://seattle.craigslist.org/see/apa/d/seatt...,1,523.0
7,2022-08-20 16:37,(Bell Town),"3,001",Astonishing 1.5 bedroom And 1 Bathroom Apartme...,https://seattle.craigslist.org/see/apa/d/seatt...,1,794.0
8,2022-08-20 16:35,(West Seattle),"1,774","MFTE - Utilities INCLUDED! Quartz Countertops,...",https://seattle.craigslist.org/see/apa/d/seatt...,1,493.0
9,2022-08-20 16:34,"(520 Occidental Ave S, Seattle, WA)","2,763",Modern Design with a Unique Twist at The Nolo!,https://seattle.craigslist.org/see/apa/d/seatt...,1,719.0

In [50]:
craigRent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Post_Date     3000 non-null   object
 1   Neighborhood  3000 non-null   object
 2   Price         3000 non-null   object
 3   Title         3000 non-null   object
 4   Url           3000 non-null   object
 5   Bedroom       2316 non-null   object
 6   sqft          2780 non-null   float64
dtypes: float64(1), object(6)
memory usage: 164.2+ KB

#### More Data Cleaning

Drop Duplicates

In [51]:
craigRent = craigRent.drop_duplicates(subset='Url')
len(craigRent)

2998

In [52]:
craigRent['Neighborhood'] = craigRent['Neighborhood'].apply(lambda x:x[1:len(x)-1])

In [53]:
craigRent['Bedroom'] = craigRent['Bedroom'].apply(lambda x: float(x))

In [54]:
craigRent['Price'] = craigRent['Price'].apply(lambda x: float(x.replace(',','')))

In [55]:
from datetime import datetime

In [56]:
craigRent['Post_Date'] = pd.to_datetime(craigRent['Post_Date'])

In [57]:
craigRent['Neighborhood'] = craigRent['Neighborhood'].str.title()

In [58]:
craigRent['Neighborhood'] = craigRent['Neighborhood'].apply(lambda x:x.strip())

In [59]:
craigRent['Neighborhood']

0                                             Bothell, Wa
1                                                 Seattle
2       Greenwood, Green Lake, Phinney Ridge, Roosevel...
3                       4138 Brooklyn Ave. Ne Seattle, Wa
4                                      Roosevelt, Seattle
                              ...
2995                                             Belltown
2996                                    Roosevelt/Seattle
2997                                              Ballard
2998                                              Seattle
2999                                         Capitol Hill
Name: Neighborhood, Length: 2998, dtype: object

In [60]:
 'Seattle' in craigRent['Neighborhood'].at[814]

True

In [61]:
craigRent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2998 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Post_Date     2998 non-null   datetime64[ns]
 1   Neighborhood  2998 non-null   object
 2   Price         2998 non-null   float64
 3   Title         2998 non-null   object
 4   Url           2998 non-null   object
 5   Bedroom       2315 non-null   float64
 6   sqft          2778 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 267.4+ KB

In [32]:
craigRent.to_csv('craigRent_4.csv',index = False)