In [9]:
import pandas as pd

In [10]:
rent = pd.read_csv('craigRent.csv')

In [11]:
rent.head(2)

,Post_Date,Neighborhood,Price,Title,Url,Bedroom,sqft
0,2022-08-18 15:24:00,"Seattle, Wa",1495.0,We are a new building located in Queen Anne! N...,https://seattle.craigslist.org/see/apa/d/seatt...,NaN,320.0
1,2022-08-18 15:23:00,"14700 Ne 35Th St, Bellevue, Wa",2750.0,"2BR Town Home, Modern kitchen, Tons of storage...",https://seattle.craigslist.org/see/apa/d/belle...,2.0,1057.0

In [12]:
rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2986 entries, 0 to 2985
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Post_Date     2986 non-null   object
 1   Neighborhood  2986 non-null   object
 2   Price         2986 non-null   float64
 3   Title         2986 non-null   object
 4   Url           2986 non-null   object
 5   Bedroom       2336 non-null   float64
 6   sqft          2776 non-null   float64
dtypes: float64(3), object(4)
memory usage: 163.4+ KB

In [13]:
rent['Neighborhood']

0                              Seattle, Wa
1           14700 Ne 35Th St, Bellevue, Wa
2             2619 5Th Avenue, Seattle, Wa
3                                  Seattle
4                                  Seattle
                       ...
2981    5240 University Way Ne Seattle, Wa
2982    5240 University Way Ne Seattle, Wa
2983           604 E Union St, Seattle, Wa
2984                Seattle/Queen Ann Hill
2985                          Capitol Hill
Name: Neighborhood, Length: 2986, dtype: object

In [15]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Bellevue' if 'Bellevue' in x else x)

In [16]:
rent['Neighborhood']

0                              Seattle, Wa
1                                 Bellevue
2             2619 5Th Avenue, Seattle, Wa
3                                  Seattle
4                                  Seattle
                       ...
2981    5240 University Way Ne Seattle, Wa
2982    5240 University Way Ne Seattle, Wa
2983           604 E Union St, Seattle, Wa
2984                Seattle/Queen Ann Hill
2985                          Capitol Hill
Name: Neighborhood, Length: 2986, dtype: object

In [55]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Seattle' if 'Seattle' in x else x)

In [56]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Seattle' if 'seattle' in x else x)

In [19]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Renton' if 'Renton' in x else x)

In [20]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Kent' if 'Kent' in x else x)

In [21]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Shoreline' if 'Shoreline' in x else x)

In [23]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Bainbridge' if 'Bainbridge' in x else x)

In [25]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Ballard' if 'Ballard' in x else x)

In [31]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Bothell' if 'Bothell' in x else x)

In [27]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Beacon Hill' if 'Beacon Hill' in x else x)

In [33]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Belltown' if 'Belltown' in x else x)

In [63]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Capitol Hill' if 'Capitol Hill' in x else x)

In [66]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Capitol Hill' if 'Cap Hill' in x else x)

In [108]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Capitol Hill' if 'Captiol' in x else x)

In [87]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Capitol Hill' if 'Capital' in x else x)

In [112]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Eastlake' if 'East Lk' in x else x)

In [39]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'First Hill' if 'First Hill' in x else x)

In [42]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Greenwood' if 'Greenwood' in x else x)

In [51]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Gig Harbor' if 'Gig Harbor' in x else x)

In [52]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Mercer Island' if 'Mercer Island' in x else x)

In [54]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Everett' if 'Everett' in x else x)

In [168]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Tacoma' if 'Sea Tac' in x else x)

In [61]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Snoqualmie' if 'Snoqualmie' in x else x)

In [71]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Central District' if 'Central District' in x else x)

In [80]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Green Lake' if 'Greenlake' in x else x)

In [89]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Queen Anne' if 'Queen Anne' in x else x)

In [93]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Fremont' if 'Fremont' in x else x)

In [94]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'International District' if 'International' in x else x)

In [202]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Mill Creek' if 'Mill Creek' in x else x)

In [104]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Madison Park' if 'Madison Park' in x else x)

In [208]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Seattle' if 'Latitude' in x else x)

In [166]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'International District' if 'Federal' in x else x)

In [181]:
rent['Neighborhood'] = rent['Neighborhood'].apply(lambda x: 'Other' if 'Spacious' in x else x)

In [209]:
rent['Neighborhood'].nunique()

89

In [210]:
rent.to_csv('CleanedRent.csv',index=False)

In [83]:
rent_clean = pd.read_csv('CleanedRent.csv')